# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore .terraform directory
**/.terraform/*

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore provider credentials files
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

*.pem
dockerhub_credentials.yml